
header{background-color: #223300; color:#FDF5E6; width: 100%; height: 200px;}
footer{background-color: #212121; color:#FDF5E6; width: 100%; height: 200px;}

#Houtsoorten{background-color: #FFE4E1; color: #2f4f4f}
#Bouwstijlen{background-color: #FAEBD7} 
#Dakvormen{background-color: #FAF0E6; color: #708090}
#Dakbekleding{background-color: #DCDCDC}
#Eik{background-color:#F5F5F5; color: #808080}
#Landelijk{background-color:#FFF0F5}
#Zadeldak{background-color:#FDF5E6; color: #778899}
#Dakpannen{background-color:#F0F8FF}
#Thermo-wood{background-color:#FFF5EE; color: #000000}
#Modern{background-color:#F8F8FF}
#Platdak{background-color:#F0FFF0; color: #008080}
#EPDM{background-color:#FFFAF0}
#Afromosia{background-color:#F0EFEF; color: #696969}
#Klassiek{background-color:#F5EFFA}
#Wolfsdak{background-color:#FFFAFA; color: #006400}
#Leien{background-color:#FFFFF0}

#Bouwstijlen.jpg{width:"100" height"50"}
#Dakbekledingsvormen.jpg{width:"100" height"50"}
#Landelijk.jpg{width:"100" height"50"}
#Dakpannen.jpg{width:"100" height"50"}
#Modern.jpg{width:"100" height"50"}
#EPDM.jpg{width:"100" height"50"}
#Klassiek.jpg{width:"100" height"50"}
#Leien.jpg{width:"100" height"50"}

#tabel{border: 1px;}
